img {
  height: 200px;
  /* width: auto; */
}

.container {
  display: inline-block;
  margin: 20px;
}

.description {
  height: 200px;
  /* width: 256px; */
  border: solid black 1px;

  /* padding: 20px; */
}
